.maxWidth {
  max-width: 700px;
}

.footerPostData {
  margin-top: 1.5rem;

  display: flex;
  align-items: center;

  time,
  span {
    font-size: 0.875rem;
    color: var(--gray-300);

    svg {
      margin-right: 0.625rem;
    }
  }

  span {
    margin-left: 1.5rem;
  }
}

.exitPreviewButton {
  width: 100%;
  background: var(--white);
  margin: 5rem 0;
  border-radius: 4px;
  transition: filter 0.2s;

  &:hover {
    filter: opacity(0.8);
  }

  a {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--black);
    text-align: center;
    padding: 1.125rem 0;
  }
}
